.header {
	padding:13px;
	background:#272B37;
    clear:left;
	text-align: center;
	}

p { 
	font-size: 20px;
}

h1{
	color:#C9A161;
}

h3{
	color:#C9A161;

}

footer {
	padding:13px;
	background-color: #272B37;
	text-align: center;
}

.Interface {
	font-family: Times New Roman;
	font-size: 25px;
}
.Links{
		font-size: 25px;
}

.texts1 {
		text-shadow: 2px 2px 5px black;
}



article {
   
  	margin-left:30%;
	padding: 1em;
	border: 5px;
	color: #58423d;
	text-shadow: 2px 2px 5px white;
	background:#EFEBDF;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #272B37;
   position: fixed;
  top: 0;
  width: 99%;

}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 10px 13px;
  text-decoration: none;
}

li a:hover {
  background-color: #EFEBDF;
}

.active {
 background-color: #C9A161;
	color: #272B37;
}
