.header {
	padding:13px;
	background:#272B37;
    clear:left;
	text-align: center;
	
}

h1{
	color:#C9A161;
}

footer {
	padding:13px;
	background:;
    clear:left;
	text-align: center;
}

.Interface {
	font-family: Times New Roman;
	font-size: 25px;
}
.Links{
		font-size: 25px;
}

.texts1 {
		text-shadow: 2px 2px 5px black;
}
nav {
	background:#C9A161;
	padding: 12px;
	height:20px;
	font-size:40%;	
	color:#EFEBDF;
	text-align: center;
	
}

article {
   
  	margin-left:30%;
	padding: 1em;
	border: 5px;
	color: #58423d;
	text-shadow: 2px 2px 5px white;
	background:#EFEBDF;
}

aside {
	
	float: left;
	width: 30%;
	margin: 0;
	padding: 1em;
    font-family: monotype corsiva;
        
} 
