.header {
	padding:13px;
	background:linear-gradient(to right, #272B37, #EFEBDF, #C9A161);
 
	text-align: center;
}

.Interface {
	font-size: 35px;
}

.background1 {
  background-image: url('img_girl.jpg');
}